[defaults]
collections_paths=collections:/usr/share/ansible/collections

[galaxy]
server_list = rh-certified_repo, validated_repo

[galaxy_server.rh-certified_repo]
url=https://hub.lab.example.com/api/galaxy/content/rh-certified/
token=c5602b0849a2abd5bc24ae3fac204905ae057ce4



[galaxy_server.validated_repo]
url=https://hub.lab.example.com/api/galaxy/content/validated/
token=c5602b0849a2abd5bc24ae3fac204905ae057ce4
