{# Edit this template to perform the actions stated in the comments #}
{# Add both nameservers from variable #}
ip name-server {{ nameservers[0] }} {{ nameservers[1] }}
{# loop through each syslog server #}
{% for i in syslog_servers %}
logging host {{ i['address'] }}
{% endfor %}
{# loop through each ntp server #}
{% for i in ntp_servers %}
ntp server {{ i }} version 2
{% endfor %}
