{# Add both nameservers from variable #}
ip name-server {{ nameservers[0] }} {{ nameservers[1] }}
{# loop through each syslog server #}
{% for SYSLOG in syslog_servers %}
logging host {{ SYSLOG['address'] }}
{% endfor %}
{# loop through each ntp server #}
{% for NTP in ntp_servers %}
ntp server {{ NTP }} version 2
{% endfor %}
