{# Edit this template to perform the actions stated in the comments #}
{# loop through each name server #}
set system name-server 1.2.3.4
set system name-server 5.6.7.8
{# loop through each syslog server #}
set system syslog host host1 source-address 1.2.3.4
set system syslog host host2 source-address 5.6.7.8
{# loop through each ntp server #}
set system ntp server 1.2.3.4
set system ntp server 5.6.7.8